<div class="modal fade" id="cms-modal-documentation" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Plugin Documentation</h4>
      </div>
      <div class="modal-body">
        <div class="scroll">
          <h3>Tools Tab</h3>
          <p>Manage appointment product categories.</p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6 text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>