.cms .btns .glyphicon {
  font-size: 22px;
  cursor: pointer;
}

.table.table-striped .text-right {
  text-align: right !important;
}

.caption {
  color: #58a8bf;
}

/* Modals
-------------------------------------------*/
.modal .modal-footer {
  border-top: none;
  padding-top: 0;
  text-align: left;
}

/* Modal Settings
-------------------------------------------*/
#cms-modal-settings .modal-body {
  margin: 30px;
}