/* Review Layout
-------------------------------------------------*/
.wsh-reviews {
    text-align: center;
}
.wsh-reviews .review-item {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    max-width: 250px;
    margin: 15px 0;
}

@media(min-width: 500px) {
    .wsh-reviews .review-item {
        min-height: 250px;
        margin: 15px;
    }
}

/* Review Output
-------------------------------------------------*/
.wsh-reviews .review-review {
    padding: 15px 0;
}
.wsh-reviews .review-reviewer {
    font-weight: bold;
}
.wsh-reviews .review-date {
    font-style: italic;
    color: #999;
}

/* Ratings
-------------------------------------------------*/
.wsh-reviews .review-rating {
    margin-bottom: 5px;
}
.wsh-reviews .review-rating span {
    display: block;
}

.wsh-reviews .review-rating .review-rating-off {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    height: 19px;
    width: 100px;
    -moz-background-size: 20px;
    -o-background-size: 20px;
    background-size: 20px;
}

@media(min-width: 1200px) {
    .wsh-reviews .review-rating .review-rating-off {
        height:30px;
        width: 150px;
        -moz-background-size: 30px;
        -o-background-size: 30px;
        background-size: 30px
    }
}

@media(min-width: 1367px) {
    .wsh-reviews .review-rating .review-rating-off {
        height:35px;
        width: 200px;
        -moz-background-size: inherit;
        -o-background-size: inherit;
        background-size: inherit
    }
}

.wsh-reviews .review-rating .review-rating-on {
    background-image: url(../img/stars-google.png);
    background-repeat: repeat-x;
    background-position: 0 100%;
    display: block;
    float: left;
    height: 17px;
    -moz-background-size: 20px;
    -o-background-size: 20px;
    background-size: 20px
}

@media(min-width: 1200px) {
    .wsh-reviews .review-rating .review-rating-on {
        height:26px;
        -moz-background-size: 30px;
        -o-background-size: 30px;
        background-size: 30px
    }
}

@media(min-width: 1367px) {
    .wsh-reviews .review-rating .review-rating-on {
        height:35px;
        -moz-background-size: inherit;
        -o-background-size: inherit;
        background-size: inherit
    }
}

.wsh-reviews .review-rating .yelp {
    background-image: url(../img/stars-yelp.png)
}

.wsh-reviews .review-rating .facebook {
    background-image: url(../img/stars-facebook.png)
}

.wsh-reviews .review-rating .google {
    background-image: url(../img/stars-google.png)
}

.wsh-reviews .review-rating .bbb {
    background-image: url(../img/stars-bbb.png)
}